<div class="mat-elevation-z8">

        <div class="header">
            <div class="title">
                <h3>Add Product</h3>
            </div>
            <div class="button">
                <button mat-button mat-raised-button color="primary" routerLink="/dashboard/product"><mat-icon>undo</mat-icon> Back</button>
            </div>
        </div>
    
        <div class="body">
    
            <form name="productForm" [formGroup]="productForm" (ngSubmit)="onSubmit()">

                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>CategoryId</mat-label>
                        <mat-select formControlName="categoryId">
                            <mat-option *ngFor="let data of categoryData" [value]="data._id">
                                {{data.title}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="productForm.get('categoryId').hasError('required')">The CategoryId is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>SubCategoryId</mat-label>
                        <mat-select formControlName="subCategoryId">
                            <mat-option *ngFor="let data of subCategoryData" [value]="data._id">
                                {{data.title}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="productForm.get('subCategoryId').hasError('required')">The SubCategoryId is required.</mat-error>
                    </mat-form-field>
                </div>
    
                <div class="col-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Product Title</mat-label>
                        <input matInput placeholder="title" formControlName="title">
                        <mat-error *ngIf="productForm.get('title').hasError('required')">The Product Title is required.</mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>Product position</mat-label>
                        <input type="number" matInput placeholder="position" formControlName="position">
                        <mat-error *ngIf="productForm.get('position').hasError('required')">The Product Position is required.</mat-error>
                    </mat-form-field>
                </div>
    
                <mat-form-field appearance="fill">
                    <mat-label>Product Description</mat-label>
                    <textarea matInput placeholder="description" formControlName="description" rows="6"></textarea>
                </mat-form-field>

                <input type="file" placeholder="file" formControlName="image" (change)="handleImage($event)" accept="image/*">

                <button mat-raised-button color="primary" type="submit">Submit</button>
    
            </form>
    
        </div>
    </div>