
.header{
    display: flex;
    padding: 0em 1em;
    align-items: center;
    justify-content: space-between;
    background-color: #607d8b54;
}

.body{
    padding: 1em;
}

.product-details{
    display: flex;
    .image{
        flex: 1;
    }
    .description{
        flex: 1;
    }
}