<div class="mat-elevation-z8">

    <div class="header">
        <div class="title">
            <h3>{{data.data?.title}}</h3>
        </div>
        <div class="button">
            <button mat-icon-button class="danger" mat-dialog-close matTooltip="close"><mat-icon>close</mat-icon></button>
        </div>
    </div>

    <div class="body">

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
              <div class="image">
                <img [src]="base_url + data.data?.image">
              </div>
          </div>
          <div class="col-md-6">
              <div class="description">
                <p>{{data.data?.description}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>